# IDE
/.idea

# Drupal
/web/
/vendor/
composer.json
composer.lock
.editorconfig
.gitattributes
/.cspell.json
/phpunit.xml
/phpcs.xml
/recipes
/repos/drupal/core/pnpm
/repos/drupal/core/pnpx
/repos/drupal/core/yarn
/repos/drupal/core/yarnpkg

# DrupalPod
.drupalpod_initiated
.gitmodules
repos/
src/**/node_modules/
src/**/package-lock.json
src/**/out/
src/**/*.vsix
src/**/.vscode-test/
drush/
.ddev/.env
.ddev/config.gitpod.yaml
.ddev/docker-compose.drupalci.yaml
